{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block  contenido %}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Lista de Facturas</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="form-row d-flex justify-content-end mt-0">
                    <a href="/factura/" class="btn btn-primary btn-block py-3 px-5 mb-3 col-3 control-group">Agregar factura</a>
                </div>
                <div class="bg-light rounded p-5">
                    <div class="invoice-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">Codigo</th>
                                  <th scope="col">Empresa</th>
                                  <th scope="col">Estado Factura</th>
                                  <th scope="col">Estado Envío</th>
                                  <th scope="col">Total</th>
                                  <th scope="col" class="text-center">Acciones</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for factura in facturas %}
                                <tr scope="row">
                                  <th>{{ factura.id_orden_compra }}</th>
                                  <td>{{ factura.nombre_cliente }}</td>
                                  <td class="text-center">
                                    <div class="badge badge-pill {{ factura.get_estado_color }} mt-2 mb-2">
                                        {{ factura.get_estado_display }}
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="badge badge-pill {{ factura.get_estado_color_entrega }} mt-2 mb-2">
                                        {{ factura.get_estado_entrega_display }}
                                    </div>
                                </td>
                                  <td>${{ factura.total_pagar | intcomma }}</td>
                                  <td class="text-center">
                                    <a href="/verfactura/{{factura.id_orden_compra}}/" class="btn py-0 px-3 btn-primary btn-sm"><i class="fas fa-eye"></i></a>

                                    {% if factura.estado_entrega != 'EN' and factura.estado != 'AN' %}
                                    <a href="{% url 'rectificar_factura' factura.id_orden_compra %}" class="btn py-0 px-3 btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                    {% elif factura.estado == 'AN' %}
                                    <button class="btn py-0 px-3 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-edit"></i></button>
                                    {% else %}
                                    <button class="btn py-0 px-3 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-edit"></i></button>
                                    {% endif %}

                                    <a href="{% url 'export_order' factura.id_orden_compra %}" class="btn py-0 px-3 btn-primary btn-sm"><i class="fas fa-file-export"></i></a>

                                    {% if factura.estado_entrega != 'EN' and factura.estado != 'AN' %}
                                    <a href="#" onclick="mostrarAlerta({{factura.id_orden_compra}})" class="btn py-0 px-3 btn-primary btn-sm "><i class="fas fa-ban"></i></a>                                   
                                    {% elif factura.estado == 'AN' %}
                                    <button class="btn py-0 px-3 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-ban"></i></button>
                                    {% else %}
                                    <button class="btn py-0 px-3 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-ban"></i></button>
                                    {% endif %}
                                    
                                    {% if factura.estado_entrega != 'EN' and factura.estado != 'AN' %}
                                    <a href="{% url 'entrega_factura' factura.id_orden_compra %}" class="btn py-0 px-3 btn-primary btn-sm"><i class="fas fa-truck"></i></a>
                                    {% elif factura.estado == 'AN' %}
                                    <button class="btn py-0 px-3 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-truck"></i></button>
                                    {% else %}
                                    <button class="btn py-0 px-3 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-truck"></i></button>
                                    {% endif %}

                                  <td>
                                </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="invoice-list">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">Estados</th>
                              <th scope="col">Cantidad</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr scope="row">
                                <tr>
                                    <td>Creada</td>
                                    <td>{{ facturas_creadas }}</td>
                                </tr>
                                <tr>
                                    <td>Rectificada</td>
                                    <td>{{ facturas_rectificadas }}</td>
                                </tr>
                                <tr>
                                    <td>Anulada</td>
                                    <td>{{ facturas_anuladas }}</td>
                                </tr>
                                <tr>
                                    <td>Por Entregar</td>
                                    <td>{{ facturas_por_entregar }}</td>
                                </tr>
                                <tr>
                                    <td>Entregadas</td>
                                    <td>{{ facturas_entregadas }}</td>
                                </tr>
                                <tr>
                                    <td>Rechazadas</td>
                                    <td>{{ facturas_rechazadas }}</td>
                                </tr>
                            </tr>

                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function mostrarAlerta(id_factura) {
        swal({
            title: '¿Deseas anular la factura?',
            text: "Esta acción no se puede deshacer.",
            icon: 'warning',
            buttons: {
                cancel: {
                    text: "Cancelar",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: true,
                },
                confirm: {
                    text: "Aceptar",
                    value: true,
                    visible: true,
                    className: "btn-success",
                    closeModal: true
                }
            }
        }).then((value) => {
            if (value) {
                window.location.href = "/anular_factura/" + id_factura; // Cambia esta URL por la página de destino
            }
        });
    }
</script>


{% endblock contenido  %}