{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block  contenido %}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Lista de Facturas</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="form-row d-flex justify-content-end mt-0">
                    <a href="/factura/" class="btn btn-primary btn-block py-3 px-5 mb-3 col-3 control-group">Agregar factura</a>
                </div>
                <div class="bg-light rounded p-5">
                    <div class="invoice-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  <th scope="col">Codigo</th>
                                  <th scope="col">Empresa</th>
                                  <th scope="col">Estado Factura</th>
                                  <th scope="col">Estado Envío</th>
                                  <th scope="col">Total</th>
                                  <th scope="col" class="text-center">Acciones</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for factura in facturas %}
                                <tr scope="row">
                                  <th>{{ factura.id_orden_compra }}</th>
                                  <td>{{ factura.nombre_cliente }}</td>
                                  <td class="text-center">
                                    <div class="badge badge-pill {{ factura.get_estado_color }} mt-2 mb-2">
                                        {{ factura.get_estado_display }}
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="badge badge-pill {{ factura.get_estado_color_entrega }} mt-2 mb-2">
                                        {{ factura.get_estado_entrega_display }}
                                    </div>
                                </td>
                                  <td>${{ factura.total_pagar | intcomma }}</td>
                                  <td class="text-center">
                                    <a href="/verfactura/{{factura.id_orden_compra}}/" class="btn py-0 btn-primary btn-sm"><i class="fas fa-eye"></i></a>

                                    {% if factura.estado_entrega != 'EN' and factura.estado != 'AN' %}
                                    <a href="{% url 'rectificar_factura' factura.id_orden_compra %}" class="btn py-0 btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                    {% elif factura.estado == 'AN' %}
                                    <button class="btn py-0 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-edit"></i></button>
                                    {% else %}
                                    <button class="btn py-0 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-edit"></i></button>
                                    {% endif %}

                                    <a href="{% url 'export_order' factura.id_orden_compra %}" class="btn py-0 btn-primary btn-sm"><i class="fas fa-file-export"></i></a>

                                    {% if factura.estado_entrega != 'EN' and factura.estado != 'AN' %}
                                    <a href="{% url 'anular_factura' factura.id_orden_compra %}" class="btn py-0 btn-primary btn-sm"><i class="fas fa-ban"></i></a>                                   
                                    {% elif factura.estado == 'AN' %}
                                    <button class="btn py-0 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-ban"></i></button>
                                    {% else %}
                                    <button class="btn py-0 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-ban"></i></button>
                                    {% endif %}
                                    
                                    {% if factura.estado_entrega != 'EN' and factura.estado != 'AN' %}
                                    <a href="{% url 'entrega_factura' factura.id_orden_compra %}" class="btn py-0 btn-primary btn-sm"><i class="fas fa-truck"></i></a>
                                    {% elif factura.estado == 'AN' %}
                                    <button class="btn py-0 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-truck"></i></button>
                                    {% else %}
                                    <button class="btn py-0 btn-deshabilitado btn-dark btn-sm" disabled><i class="fas fa-truck"></i></button>
                                    {% endif %}

                                  <td>
                                </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido  %}